/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ffecb3;
  color: #333;
  padding: 0.2em 0; }

/* ==========================================================================
   Main Style
   ========================================================================== */
html {
  min-height: 100%; }

body {
  font: 16px / 1.4 sans-serif;
  color: #fff;
  min-height: 100%; }

.wrapper {
  background: #c21500;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left top, #c21500, #ffc500);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh; }

main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: -70px;
  height: 100vh; }

section.landing {
  max-width: 100%;
  font-size: 20px;
  overflow: hidden;
  min-height: 182px; }
  section.landing .flame {
    min-width: 270px;
    max-width: 100%; }
  section.landing .flame, section.landing .info {
    padding: 1rem; }
  section.landing .notice {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1em; }
  section.landing .reg-btn {
    color: #fff;
    background-color: white;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 1.05em;
    text-transform: uppercase; }
  section.landing .map-marker {
    margin-left: 0.5rem;
    color: #fff;
    font-size: 1.5em; }
    section.landing .map-marker:hover, section.landing .map-marker .fa-map-marker:hover {
      color: #eee;
      cursor: pointer; }

footer {
  padding: 0 1em;
  bottom: 0;
  width: 100%;
  height: 60px; }
  footer .fa {
    font-size: 48px;
    color: #fff;
    margin-left: 0.2em; }
  footer .social-media-group {
    float: right;
    margin-bottom: 0; }
  footer .copyleft {
    margin: 1.8em 0 0;
    float: left; }

/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  main {
    margin-bottom: 6rem; }
  footer {
    height: auto; }
    footer .fa {
      margin-left: 0;
      margin-right: 0.2em; }
    footer .copyleft, footer .social-media-group {
      float: none; }
    footer .copyleft {
      margin-top: 0; } }
